<p class="lead">
    
    המטלה שהתנסיתם בה נקראת בעברית "מטלת אסוציאציות חבויות".
    זהו תרגום מ-Implicit Associatinon Test, המכונה בקיצור ה-IAT.
    
הנה התוצאות שלך במטלה:
</p>    
    <div class="jumbotron jumbotron-dark">
      <p><%= global.iat.feedback %></p>
	</div>

<p class="lead">
    
וכאן יכול להופיע הסבר כיצד חושבו תוצאות אלו

</p>
