$navbar-height: 54px;
$navbar-background: #2882b5;

html, body, .dasboard-root {height:100%;}
.dashboard-root {display:flex; flex-direction:column;overflow:visible;}

.navbar {
    flex: 0 1 $navbar-height;
    border-radius:0;
    background: $navbar-background; 

    .is-iframe & {display:none}

    .dropdown:hover .dropdown-menu { display:block; }
    .nav-link { cursor: pointer;}
    .dropdown-menu {
        border-radius:0;
        border-color: darken($navbar-background, 0%);
        background: lighten($navbar-background, 40%);

        // offset the dropdown
        border-top-width: 8px;
        border-top-color: $navbar-background;

        margin-top:0;
        margin-left: -0.5rem;
    }
    .dropdown-menu.dropdown-menu-right {margin-right: -0.5rem;}
    .dropdown-item:hover {background: lighten($navbar-background, 35%);}
}

.nav-item.active {
    background: darken( $navbar-background, 10%);
}

.main-content {
    flex: 1 1 auto;
    width:100%;
}
