// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13u0u0kqpBpg5MVlwGpzhxMzuos */

// Feel free to copy&paste color codes to your application */

$color-primary-0: #71B0D6;	// Main Primary color */
$color-primary-1: #D2EAF9;
$color-primary-2: #9DCEEA;
$color-primary-3: #4C93BE;
$color-primary-4: #2E76A1;

$navbar-height: 54px;

h1, h2, h3, h4, h5 {font-weight: 300}
h1 small, h2 small, h3 small, h4 small, h5 small {font-weight: 200; color: #818a91; font-size:70%}

.deploy, .sharing, .generetor, .downloadAccess, .StudyChangeRequest, .StudyRemoval, .downloads, .statistics, .pool, .tags-page, .translate-page, .sharing-page{
    padding-top: 1em;
}

.link {cursor: pointer;}

.generetor{
  padding-left: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

.markdown{

  padding-left: 2em;
  overflow-y: scroll;
  overflow-x: fragments;
  overflow-wrap: break-word;
}
.invalid {
  background-color: #ffeeee;
}

.invalid {
  border: 1px solid #ff0000;
}


.translate-page{
  overflow: auto;
  max-height: 100%;
}

a.no-decoration {text-decoration: none; color:inherit}

// utility
.centrify {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height: 100%;
}


.info-box {
	display: none;
	position: absolute;
	border-color: #818A91;
	padding-left: 10px; // using margin here does not allow hover to continue into the info-box
	z-index: 5;
}

.info-box4data {
  width:600px;
  margin-top:-120px;
  padding-left:0px
}


*:hover + .info-box, .info-box:hover {
	display: inline-block;
}

.pool {
	padding-bottom: 9em;
}

.note {
  margin-bottom:  2em;
  margin-left: 25%;
  margin-right: 25%;
  z-index: 10;
  position:       fixed;
  bottom:         0em;
  right:          0em;
  width:          50%;
  text-align:     center;
  vertical-align: middle;
}


.central_panel {
  margin-left: 25%;
  margin-right: 25%;
}



.animated {
  -webkit-animation: fadeinout 5s linear 1 forwards;
  animation: fadeinout 5s linear 1 forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}



.space {
  padding-top: 10px;
}

.disable_properties {
  pointer-events: none;
  opacity: 0.4;
}

blockquote{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 1em 1em;
  padding: 1em 10px .1em 10px;
}

.double_space {
  margin-top: 10px;
}

.warning_text {

  color: red;
}

#ruleGenerator {
    background-color: #bcdae2;
    border-color: #bcdae2;
    margin-top: 0.5em;
}

#messages .card {
	overflow-y: auto;
}

.history-button-group {
	position: relative;
	display: inline-block;
    vertical-align: top;
    left: 15px;
    top: 24px;
}

.dropdown-component {display: inline-block}
.dropdown-menu-up {  
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
.btn-group > .dropdown-component {
    display: inline-block;

    &:not(:last-child) > .btn:first-child {
        border-top-right-radius: 0;
        border-left-right-radius: 0;
    }

    &:not(:first-child) > .btn:first-child {
        margin-left:-1px;
        border-top-left-radius: 0;
        border-left-left-radius: 0;
    }
}

.statistics-time-button {
    display:relative;
    .time-card {
        display:none;
        position: absolute;
        top:100%;
        left:0;
        padding-top: 5px;
        text-align: left;
    }
    &:hover .time-card {display: block;}
}

// used within the validator
.stringified {
	.pre {text-decoration: none;white-space: pre;}
	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: red; }

	.editor { position: absolute;top: 0;right: 0;bottom: 0;left: 0; height:300px; font-size: 18px;}
}

.table.table-nowrap th {white-space:nowrap}
.templae_text {display:inline}

.custom-controls-stacked .custom-control{display:inline}
.custom-controls-stacked .custom-control:after {
    display:block;
    margin-bottom: .25rem;
    content: '';
}

.bulletless {
    list-style-type:none;
    list-style-image:none;
}

.row-centered {
  text-align:center;
}
.folders-well {
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
    padding: 0.75rem 0.75rem 0 0.75rem;
}

.wizard { height:100%; overflow: scroll; }


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.input_switch:checked + .slider {
  background-color: #2196F3;
}

input.input_switch:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input.input_switch:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}


.slider.round:before {
  border-radius: 50%;
}


.frame {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 2px;
}

.danger_zone {
  border: 1px solid red;
  border-radius: 10px;
  padding: 15px;
  margin: 2px;
}

.danger_zone strong {
  color: red;
}

.fixed_textarea {
  resize: none;
}


@import "./navbar";
@import "./loader";
@import "./forms";
@import "./context";
@import "./files";
@import "./backdrop";
@import "./study";
@import "./pool";
@import "./login";
@import "./dateRange";
@import "./upload";
// @import "./fab";
